@model SymphonyLimited.DbContext.Lab_Tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lab_Tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lab_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
