<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <!-- Material Kit CSS -->
    <link href="~/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <style>
        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #1e273d;
        }
        table.dataTable tbody tr {
            background-color: #202940;
        }
    </style>
</head>

<body class="dark-edition">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="black" data-image="./assets/img/sidebar-2.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="#" class="simple-text logo-normal">
                    @Session["user"]
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <!-- your sidebar here -->
                    <li class="nav-item ">
                        <a class="nav-link" href="/student">
                            <i class="material-icons">person_pin</i>
                            <p>Students</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/Course">
                            <i class="material-icons">library_books</i>
                            <p>Courses</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/Course_Offeringl">
                            <i class="material-icons">library_add</i>
                            <p>Course Offering</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/exam">
                            <i class="material-icons">article</i>
                            <p>Exam</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/faculty">
                            <i class="material-icons">person</i>
                            <p>Faculty</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/semester">
                            <i class="material-icons">assignment</i>
                            <p>Semester</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/result">
                            <i class="material-icons">analytics</i>
                            <p>Result</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/lab">
                            <i class="material-icons">store</i>
                            <p>LAB</p>
                        </a>
                    </li>

                    @* HOME *@
                    <li class="nav-item ">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#homepages" aria-expanded="false">
                            <i class="material-icons">home</i>
                            <p>
                                Home
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="homepages" style="">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/ourteam">
                                        <i class="material-icons">person</i>
                                        <p>Our Team</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/figure">
                                        <i class="material-icons">format_list_numbered</i>
                                        <p>Counter</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Gallery">
                                        <i class="material-icons">photo_library</i>
                                        <p>Gallery</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    @* ABOUT *@
                    <li class="nav-item ">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#aboutpages" aria-expanded="false">
                            <i class="material-icons">verified</i>
                            <p>
                                About
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="aboutpages" style="">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">
                                        <i class="material-icons">
                                            verified_user
                                        </i>
                                        <p>Why Choose Us</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/History">
                                        <i class="material-icons">history</i>
                                        <p>History</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/WhatPeopleSay">
                                        <i class="material-icons">format_quote</i>
                                        <p>What People Say</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/otherbranches">
                                        <i class="material-icons">account_balance</i>
                                        <p>Other Branches</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    @* CONTACT *@
                    <li class="nav-item ">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#contactpages" aria-expanded="false">
                            <i class="material-icons">contact_page</i>
                            <p>
                                Contact
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="contactpages" style="">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/contactpage">
                                        <i class="material-icons">
                                            details
                                        </i>
                                        <p>Contact Us Details</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contactforms">
                                        <i class="material-icons">format_align_justify</i>
                                        <p>Contact Forms</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/Faq">
                            <i class="material-icons">question_answer</i>
                            <p>FAQ</p>
                        </a>
                    </li>

                </ul> 
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" title="Logout" href="/admin/logout">
                                    <i class="material-icons">login</i>
                                    <p class="d-lg-none d-md-block">
                                        Logout
                                    </p>
                                </a>
                            </li>
                            <!-- your navbar here -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <!-- your content here -->
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.min.js"></script>
    <script src="./assets/js/core/popper.min.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="./assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="https://unpkg.com/default-passive-events"></script>
    <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="./assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="./assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="./assets/js/material-dashboard.js?v=2.1.0"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="./assets/demo/demo.js"></script>
    <script>
    $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });</script>
    <script>
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });

        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function () {
            alert('You clicked on Like button');
        });
    </script>
</body>

</html>