@model IEnumerable<SymphonyLimited.DbContext.Course_Offering_Tbl>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
    <div class="breadcrumbs-custom context-dark bg-overlay-46">
        <div class="container">
            <h2 class="breadcrumbs-custom-title">Our Courses</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Courses</li>
            </ul>
        </div>
        <div class="box-position" style="background-image: url(/images/slider/Placement-01.png);"></div>
    </div>
</section>



<!-- Courses -->
<section class="section section-md section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-50 justify-content-center">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <h2>Our Top Courses</h2>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs">
                        @foreach (var item in Model)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-4-@item.Semester_Tbl_.C_ID"
                                   data-toggle="tab">@item.Semester_Tbl_.Semester</a>
                            </li>
                        }
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        @foreach (var item in Model)
                        {
                            <div class="tab-pane fade show active" id="tabs-4-@item.Semester_Tbl_.C_ID">
                                <p>
                                    @item.Semester_Tbl_.Desrcip
                                </p>
                            </div>
                        }

                        <div class="group-md group-middle">
                            <a class="button button-width-xl-230 button-primary button-pipaluk"
                               href="#">Read more</a>
                            <a class="button button-width-xl-310
                               button-default-outline button-wapasha"
                               href="/Home/Contact">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



